#boutton {
    background-color: #FFF;
    color: #000;
    border: none;
}

.all {
    margin-top: 200px;
}

p {
    color: black;
}

#bleu-boutton {
    background-color: #0073ca;
}

#projet {
    color: grey;
    padding-left: 3vw;
}

footer {
    margin-bottom: 20px;
    height: 20vh;
}

.company {
    margin-top: 5vh;
}

.parent {
    width: 95vw;
    margin: 20px auto;
}

#parent {
    background-color: lightgrey;
}

#detail1,
#detail2,
#detail3 {
    background-color: white;
    color: #000;
}

.espace {
    margin-top: 10vh;
}